In [1]:
import tensorflow as tf
import pandas as pd

In [2]:
df = pd.read_csv('zoo.txt', delimiter=',', header=None)

In [3]:
df.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15  16
0   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   0
1   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1   0
2   0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0   3
3   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1   0
4   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1   0

In [4]:
x_data = df.iloc[:, 0:-1]

In [5]:
x_data.shape

(101, 16)

In [6]:
x_data.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12  13  14  15
0   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
1   1   0   0   1   0   0   0   1   1   1   0   0   4   1   0   1
2   0   0   1   0   0   1   1   1   1   0   0   1   0   1   0   0
3   1   0   0   1   0   0   1   1   1   1   0   0   4   0   0   1
4   1   0   0   1   0   0   1   1   1   1   0   0   4   1   0   1

In [7]:
y_data = df.iloc[:,-1]

In [8]:
y_data.shape

(101,)

In [9]:
y_data_df = y_data.to_frame()

In [10]:
y_data_df.shape

(101, 1)

In [11]:
y_data.head()

0    0
1    0
2    3
3    0
4    0
Name: 16, dtype: int64

In [12]:
# y_data.astype('float32').head()

In [13]:
nb_classes = 7

### graph

In [14]:
X = tf.placeholder(tf.float32, [None, 16])
Y = tf.placeholder(tf.int32, [None, 1])

### One-Hot Encoding

In [15]:
Y.shape

TensorShape([Dimension(None), Dimension(1)])

In [16]:
# 그냥 one_hot 하면 차원하나 늘어남 
Y_one_hot = tf.one_hot(Y, nb_classes)

In [17]:
Y_one_hot.shape

TensorShape([Dimension(None), Dimension(1), Dimension(7)])

In [18]:
# 2차원으로 줄이기 위한 reshape 과정 필요
Y_one_hot = tf.reshape(Y_one_hot, [-1, nb_classes])

In [19]:
Y_one_hot.shape

TensorShape([Dimension(None), Dimension(7)])

### Other Graph
- Weight , Bias, logits, hypothesis, cost_i, cost, optimizer

In [20]:
X.shape

TensorShape([Dimension(None), Dimension(16)])

In [21]:
W = tf.Variable(tf.random_normal([16, nb_classes]), name='weight')
b = tf.Variable(tf.random_normal([nb_classes]), name='bias')

In [22]:
logits = tf.matmul(X,W) + b
h = tf.nn.softmax(logits)

In [23]:
# tf.nn.softmax_cross_entropy_with_logits : deprecated 
cost_i = tf.nn.softmax_cross_entropy_with_logits_v2(logits=logits, labels=Y_one_hot)
cost = tf.reduce_mean(cost_i)
optimizer = tf.train.GradientDescentOptimizer(learning_rate=0.1).minimize(cost)

### 예측 및 평가

In [24]:
prediction = tf.argmax(h, axis = 1)
correct_prediction = tf.equal(prediction, tf.argmax(Y_one_hot, axis = 1))
acc = tf.reduce_mean(tf.cast(correct_prediction, tf.float32))

### Launch graph

In [25]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    
    for step in range(2001):
        sess.run(optimizer, feed_dict={X: x_data, Y: y_data_df})
        if step % 200 == 0:
            loss_val, acc_val = sess.run([cost, acc], feed_dict={X: x_data, Y:y_data_df})
            
            print('step: {0}, \n loss : {1}, \n acc : {2}'.format(step, loss_val, acc_val))

step: 0,
 loss : 4.571086406707764,
 acc : 0.39603960514068604
step: 200,
 loss : 0.42287302017211914,
 acc : 0.8811880946159363
step: 400,
 loss : 0.23149579763412476,
 acc : 0.9504950642585754
step: 600,
 loss : 0.16446515917778015,
 acc : 0.9702970385551453
step: 800,
 loss : 0.12851224839687347,
 acc : 0.9801980257034302
step: 1000,
 loss : 0.10548093914985657,
 acc : 0.9801980257034302
step: 1200,
 loss : 0.08932112902402878,
 acc : 0.9900990128517151
step: 1400,
 loss : 0.07735166698694229,
 acc : 1.0
step: 1600,
 loss : 0.06815454363822937,
 acc : 1.0
step: 1800,
 loss : 0.060889583081007004,
 acc : 1.0
step: 2000,
 loss : 0.05502128601074219,
 acc : 1.0

In [29]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    
    pred = sess.run(prediction, feed_dict={X:x_data})
    for p,y in zip(pred, y_data.flatten()):
        print("[{1}] Prediction: {2} True Y : {3}".fomat(p == int(y), p, int(y)))

AttributeError: 'Series' object has no attribute 'flatten'

### Issue 
1. Can not convert a float32 into a Tensor or Operation.
    - sess.run 할 때 변수명과 똑같이 지정해서 나타나는 에러
    - loss_val, acc= sess.run([cost, acc]